<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body th:replace="~{layout :: layout(~{::section})}">

<section>

    <div class="text-center">
        <h2 style="font-weight: bold;">Iniciar sesión</h2>
    </div>

    <!-- Mensaje de error -->
    <div th:if="${param.error}" class="alert alert-danger"
         style="max-width: 600px; margin: 20px auto;">
        Usuario o contraseña incorrectos.
    </div>

    <form th:action="@{/login}" method="post">

        <div class="mb-3">
            <label class="form-label">Usuario</label>
            <input type="text" name="username" class="form-control" required/>
        </div>

        <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <input type="password" name="password" class="form-control" required/>
        </div>

        <button type="submit" class="btn btn-primary w-100 mt-3">
            Entrar
        </button>

        <p class="text-center mt-3">
            ¿No tienes cuenta?
            <a th:href="@{/register}">Registrar usuario</a>
        </p>

        <div th:if="${param.registered}" class="alert alert-success"
             style="max-width: 600px; margin: 20px auto;">
            Usuario registrado correctamente. Inicie sesión.
        </div>


    </form>

</section>

</body>
</html>
