<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::body})}">

<body>

<h2 class="mb-4 fw-bold">Editar Usuario</h2>

<div class="card shadow-sm">
    <div class="card-body">

        <form th:action="@{'/usuarios/actualizar/' + ${usuario.adminId}}"
              method="post">

            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text"
                       name="username"
                       class="form-control"
                       th:value="${usuario.username}"
                       required>
            </div>

            <div class="mb-3">
                <label class="form-label">Rol</label>
                <select name="role" class="form-select">

                    <option value="USER"
                            th:selected="${usuario.role == 'USER'}">
                        USER
                    </option>

                    <option value="ADMIN"
                            th:selected="${usuario.role == 'ADMIN'}">
                        ADMIN
                    </option>

                </select>
            </div>

            <div class="d-flex justify-content-between">
                <a href="/usuarios/listar"
                   class="btn btn-secondary">
                    Volver
                </a>

                <button type="submit"
                        class="btn btn-success">
                    Guardar Cambios
                </button>
            </div>

        </form>

    </div>
</div>

</body>
</html>
